.title{
	color: #B0E0E6;
	font-size: 50px;
	text-align: left;
	font-family: Calibri;
}

.description{
	color: #696969;
	font-size: 15px;
	text-align: left;
	font-family: Calibri;
	padding-bottom: 30px;
	/**width: 400px;**/
}

.image{
	align: left;
	width: 1350px;
}

.category{
	font-size: 20px;
	font-family: Calibri;
	fill: #00008B;
	text-anchor: "middle"
}

.chart{
	width: 1400px;
	height: 600px;
	position: absolute;
}

.circ1{
	stroke: green;
	fill: white;
	stroke-width: 5px;
}

.indicator{
	stroke: #00008B;
	fill: #87CEFA;
	stroke-width: 5px;
}

}

.house{
	stroke: #B8860B;
	fill: #DAA520;
	stroke-width: 5px;
}

.roof{
	stroke: #800000;
	fill: #8B0000;
	stroke-width: 5px;
}
/**use .X for a class
/**make sure to inspect source in chrome for good developping